Source: rsync-backup
Section: net
Priority: optional
Maintainer: user <user@host>
Build-Depends: debhelper (>= 9.0.0), bash-completion
Standards-Version: 4.1.4

Package: rsync-backup
Architecture: all
Depends: rsync, smartmontools, ${misc:Depends}
Recommends: debconf-utils, tripwire
Description: Rsync backup
 Very simpel backup using Rsync.
